{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<h1>Nathan Ortiz</h1>

<p>Nathan is a 25-year-old student in the Full Stack Development Immersive program at San Diego Global Knowledge University. He has had no previous experience or education in the computer science/tech field. His hobbies include:
    <ul>
        <li> Watching anime</li>
        <li>Writing</li>
        <li>Playing music</li>
        <li>Space Exploration</li>
    </ul>
</p>

<img src="{% static 'pages/hubble.jpg' %}" alt="Hubble telescope in space">
{% endblock content %}